@font-face {
  font-family: 'lora';
  src: url("/assets/Lora-Regular.ttf");
  font-style: normal;
  font-weight: 100;
}

.lora {
  font-family: 'lora';
  font-weight: 100;
}

#articles {
  background-color: grey;
}

header {
  background: url("BMfinal.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.modal {
  height: 90%;
}
.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
.tabs .indicator {
  background-color: #1a237e;
}
.tabs .tab a:focus, .tabs .tab a:focus.active{
  background: transparent;
}
#events {
  background: black;
  padding-bottom: 2vw;
}

  @media screen and (max-width: 870px ) {
    header {
      min-height: 500px;
    }
  }





