body, html {
  height: 100%
}

#fblurb {
  background-color: black;
}

.lora {
  font-family: 'Lora', serif;
}

.jaypic {
  background-image: url("jay.png");
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jayfoot {
  background-image: url("jay.png");
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bio {
  color: white;
  padding-top: 28rem;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.embed {
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem;
}

.embed {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border: solid #f7f7f9;
  border-width: .2rem 0 0;
}

#podcast {
  color: white;
  padding-top: 20rem;
}

#myTab, a {
  padding-top: 4rem;
  color: white;
  text-decoration: none;
  
}

#novels {
  height: 1000px;
  
}

@media (max-width: 575.98px) { 
  #space {
    padding-top: 200rem;
  }
  #top {
    background-image: url("BMfinal.jpg");
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #works {
    padding-top: 150px;
  }
 }

@media (min-width: 576px) { 
  #works {
    padding-top: 100px;
  }
  #space {
    padding-top: 45rem;
  }
 }


@media (min-width: 768px) { 
  #works {
    padding-top: 100px;
  }
  #space {
    padding-top: 30rem;
  }
  #top {
    background-image: url("BMfinal.jpg");
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
 }


@media (min-width: 992px) { 
  #works {
    padding-top: 50px;
  }
  #space {
    padding-top: 20rem;
  }
  #top {
    background-image: url("BMfinal.jpg");
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
 }


@media (min-width: 1200px) { 
  #works {
    padding-top: 100px;
  }
  #space {
    padding-top: 800px;
    
  }
  #top {
    background-image: url("BMfinal.jpg");
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
 }

 #b-main {
   padding-top: 3rem;
 }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white;
}

.article-content {
  margin: 40px;
}

#article-pic {
  align-self: center;
}


